.news-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
  }
  
  .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
  }
  
  .card-title {
    font-size: 1.25rem; /* Ajusta el tamaño del título según sea necesario */
    font-weight: bold;
  }
  
  .card-text {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  